<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <h1>This is my Home Page</h1>

    <h2><%= locals.dog ? dog: "No doggy" %></h2>

    <% animals.forEach(el => { %>
    <p><%= el %></p>

    <% }) %> <% let {fName, lname, age} = person %>
    <p>Last Name: <%= lname %></p>
    <p>First Name: <%= fName %></p>
    <p>Age: <%= age %></p>

    <% peopleArray.forEach(el => { %> 
    <% const keys = Object.keys(el) %>
    <% console.log(keys) %>
    <% keys.forEach(key => { %>
        <p><%= key %>: <%= el[key]%></p>
    <% }) %>
    
    <% }) %>
  </body>
</html>
